<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
</head>
<body>
    <h1>who does react work?</h1>

    <p>ReactJS is one of the most popular JavaScript libraries for mobile and web application development. Created by Facebook, React contains a collection of reusable JavaScript code snippets used for user interface (UI) building called components.</p>


    <h1>what are the difference between props and state in react?</h1>

    <p>Props are used to pass data from one component to another. The state is a local data storage that is local to the component only and cannot be passed to other components. The this. setState property is used to update the state values in the component.</p>
    

    <h1>what are the use of useEffect other then api data loading?</h1>

    <p>By using the Hook of useEffect, we tell React that our component needs to do something after render.React will remember the function we passed, and call it later after performing the DOM updates.</p>
</body>
</html>